*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.App {
  position: relative; }

.App-sidebar {
  width: 400px;
  min-height: 100vh;
  display: inline-block;
  background: -webkit-linear-gradient(white, pink);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, pink);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, pink);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, pink);
  /* Standard syntax */
  border-right: thin solid #cccccc;
  margin: 0;
  position: relative;
  top: 0;
  text-align: center;
  content: ''; }

.App-sidebar .image {
  text-align: center; }

.App-sidebar .image img {
  display: block;
  margin: 0 auto;
  padding: 15px 0 15px; }

.App-sidebar .resume {
  margin-top: 30px; }

.App-sidebar .resume .box {
  border-left: thin solid black;
  margin-left: 30px;
  position: relative; }

.App-sidebar .resume .box .element {
  text-align: left;
  display: block;
  position: relative;
  left: -23px;
  padding: 15px 0; }

.App-sidebar .resume .box .element .circle {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  border: thin solid black;
  content: '';
  display: inline-block;
  margin: 0 15px; }

.App-sidebar .resume .box .element .value {
  display: inline-block; }

.App-main {
  width: calc(100% - 400px);
  min-height: 100vh;
  display: inline-block;
  margin: 0;
  background-color: floralwhite;
  position: absolute;
  top: 0;
  content: ''; }
